<header class="masthead" style="background-image: url(<%= asset_path 'default.jpg' %>)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1><%= @timer.title %></h1>
                    <span class="subheading">編集</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <h1 class="my-5"><%= t('timer.edit.title') %></h1>

            <%= render 'form', timer: @timer %>
            <div class="text-right">
                <%= link_to '戻る', timer_path(@timer), class:"btn btn-outline-light btn-lg" %>
            </div>
        </div>
    </div>
</div>