<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<%= render 'layouts/flash' %>
<!-- Divider-->
<hr class="my-4" />

<h5>出る前の準備</h5><br>
<p class="my-4">優先順にドラッグアンドドロップで並び変えることができます。
<br>うまく動かない場合は画面を再度読み込んでください。</p>
<% if activities != nil %>
    <table class="table table-hover table-borderless", style="table-layout:auto;">
        <thead>
        </thead>
        <tbody id="activities_list">
            <% activities.each do |activity| %>
                <tr id="this_activity_<%= activity.id %>">
                <%= content_tag "tr", id: "activity-#{activity.id}", class: "item index", data: { model_name: activity.class.name.underscore, update_url: timer_activity_sort_path(timer.id, activity.id)} do %>
                    <td class="align-middle"><%= activity.title %></td>
                    <td class="align-middle"><%= activity.minutes %>分<%= activity.seconds %>秒</td>
                    <td class="align-middle"><%= link_to '編集', edit_timer_activity_path(timer, activity), remote: true, class:"btn btn-outline-primary btn-sm" %></td>
                    <td class="align-middle"><%= link_to '削除', timer_activity_path(timer.id, activity.id), data: { confirm: "本当に削除しますか?"}, method: :delete, remote: true, class:"btn btn-outline-danger btn-sm" %></td>
                <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<style type="text/css">
body {/*カウンターリセット*/
  counter-reset: row-counter;
}
 
tr {
  position: relative;
}
 
tr.index:before {
  position: relative;
  padding: 10px;
  display: block;
  bottom: 0;
  counter-increment: row-counter;
  content: counter(row-counter);
}
</style>